OPENAI_API_KEY="OpenAIのAPIキー"
CONSUMER_KEY="XのConsumerKeysのAPIキー"
CONSUMER_SECRET="XのConsumerKeysのAPIキーSecret"
BEARER_TOKEN="XのBearerToken"
ACCESS_TOKEN="XのAccessToken"
ACCESS_TOKEN_SECRET="XのAccessTokenSecret"
HATENA_ID="はてなアカウントのID"
HATENA_BLOG_ID="はてなのルートエンドポイントのURL"
HATENA_KEY="はてなのAPIキー"
OBS_WS_PASSWORD="OBSのサーバーパスワード"
OBS_WS_HOST="localhost"
OBS_WS_PORT="OBSのサーバーポート"
YOUTUBE_VIDEO_ID="配信のVideoID"